.custom-select {
  text-align: left;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.selected-option {
  width: 100%;
}

.options {
  text-align: left;
  list-style: none;
  padding: 8px;
  padding-left: 36px;
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
}

.options li {
  font-size: 16px;
  color: grey;
}

.options * > li {
  font-size: 16px;
  color: grey;
}
.options label {
  background-color: rgb(217, 217, 217);
}

.options * > label:hover {
  background-color: rgb(217, 217, 217);
}

.options * > ul {
  list-style: none;
  padding-left: 20px;
}

.options label {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--primary-background);
}
.options input[type='radio'] {
  position: relative;
  z-index: -1;
  width: 0;
  margin: 0;
}

.container {
  position: relative;
}

/* Repasar */
.svg {
  position: absolute;
  left: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--text-color);
}
.svg svg {
  margin-bottom: -1.6px;
}
