.custom-select {
  text-align: left;
  width: 100%;
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.options {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
}
.container > ul {
  padding: 8px;
}
.options > li {
  font-size: 16px;
  color: grey;
}

.options * > ul {
  list-style: none;
  padding-left: 20px;
}

.options label {
  cursor: pointer;
  color: var(--text-color);
}
.options input[type='radio'] {
  width: 0;
  margin: 0;
  cursor: pointer;
}

.container {
  position: relative;
}
