.inputContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.radioButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radioButtonInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radioButtonLabel {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: var(--fs-m);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radioButtonCustom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-xxxl);
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radioButtonInput:checked + .radioButtonLabel .radioButtonCustom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid var(--border-checkbox);
}

.radioButtonLabel:hover .radioButtonCustom {
  transform: translateY(-50%) scale(1.2);
  border-color: var(--border-checkbox);
  box-shadow: 0 0 10px var(--border-checkbox);
}
