.container {
  grid-area: canvas;
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.container {
  background-color: var(--bg-canvas);
}

.load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
