.container {
  grid-area: canvas;
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;

  /* TODO: remove this color when canvas-accessible is ready */
  color: var(--text-color);
}

.container {
  background-color: var(--bg-canvas);
}

.load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-button {
  background-color: transparent;
  font-size: var(--fs-xl);
  position: relative;
  padding: 0;
  color: var(--background-400);
}

.load-button::before {
  content: '';
  position: absolute;
  bottom: -2.7px;
  left: 0;
  width: 100%;
  background-color: var(--background-400);
  height: 1.5px;
}

.load-button:hover {
  background-color: transparent;
  color: var(--primary-300);
}

.load-button:hover.load-button::before {
  background-color: var(--primary-300);
}

:global(.light) .load-button {
  color: var(--background-200);
}

:global(.light) .load-button::before {
  background-color: var(--background-200);
}

:global(.light) .load-button:hover {
  color: var(--primary-600);
}

:global(.light) .load-button:hover.load-button::before {
  background-color: var(--primary-600);
}
