.select {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}
.select p {
  margin: 0;
}
.select-label {
  min-width: 20ch;
}
.select-select {
  --boder: 1px solid #ccc;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  font-size: 16px;
  border: var(--boder);
  background-color: var(--primary-background);
}

.select-text {
  width: 100%;
  margin: 0;
}

/* !Estoy aquí */
.options {
  text-align: left;
  list-style: none;
  padding: 8px;
  padding-left: 36px;
  margin: 0;
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: calc(0px - 1px);
  width: calc(100% + 2px);
  border: var(--boder);
  border-top: none;
  background-color: var(--primary-background);
}

.options li {
  font-size: 16px;
  color: grey;
}

.options * > li {
  font-size: 16px;
  color: grey;
}
.options label:hover {
  background-color: rgb(217, 217, 217);
}

.options * > ul {
  list-style: none;
  padding-left: 20px;
}

.options label {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--primary-background);
}
.options input[type='radio'] {
  position: relative;
  z-index: -1;
  width: 0;
  margin: 0;
}

/* Repasar */
.svg {
  position: absolute;
  left: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--text-color);
}
.svg svg {
  margin-bottom: -1.6px;
}
