# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Turbo
.turbo

# Test outputs
coverage
playwright-report/
test-results/
blob-report/
playwright/.cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
.vite

# Temporary LICENSE copies (created by publish scripts)
packages/*/LICENSE
