.select {
  display: flex;
  align-items: baseline;
  text-align: left;
  gap: 10px;
}

.select-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.select p {
  margin: 0;
}

.select-label {
  min-width: 20ch;
}

.error {
  color: var(--color-error);
  font-size: 12px;
  margin-left: 6px;
}
