.screenReaderOnly {
  position: absolute;
  /* only for see the content while developing */
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.908);
  /* uncomment for hide accessibility canvas*/
  /* width: 1px;
  height: 1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%); */
  padding: 0;
  border: 0;
}
