.container {
  grid-area: toolbar;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: var(--bg-toolbar);
  border: none;
  border-bottom: var(--border-toolbar);
}
@media screen and (min-device-width: 780px) and (max-device-width: 1090px) {
  .container {
    padding: var(--space-md) var(--space-xl);
  }
}

@media screen and (min-device-width: 780px) and (max-device-width: 1090px) and (orientation: landscape) {
  .container {
    padding: var(--space-xl) var(--space-sm);
  }
}

@media screen and (max-device-width: 1090px) {
  .container {
    border-top: var(--border-toolbar);
    border-bottom: none;
    justify-content: space-between;
  }
}

@media screen and (max-device-width: 1090px) and (orientation: landscape) {
  .container {
    flex-direction: column;
    border: none;
    border-right: var(--border-toolbar);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
