.tableEditor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.fieldRow {
  display: grid;
  grid-template-columns: auto auto auto 3fr 2fr 80px 250px;
  gap: 0px;
}

.nestedGrid {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.fieldCell,
.headerCell {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.commands-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.headerCell {
  background-color: #f2f2f2;
}

.expandCell {
  width: 50px; /* Fix width for the expand cell */
  text-align: center; /* Center the button in the cell */
}

/* TODO: this solution is not ideal, we would need to add more indent levels */
/* #59 */
/* https://github.com/Lemoncode/mongo-modeler/issues/59 */
.indent0 {
  margin-left: 0;
}
.indent1 {
  margin-left: 20px;
}
.indent2 {
  margin-left: 40px;
}
.indent3 {
  margin-left: 60px;
}
.indent4 {
  margin-left: 80px;
}
.indent5 {
  margin-left: 100px;
}
.indent6 {
  margin-left: 120px;
}
.indent7 {
  margin-left: 140px;
}
