.tableEditor {
  display: grid;
  grid-template-columns: auto 60px 60px 150px 80px 250px;
  margin: 10px;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-top: none;
  min-width: 800px;
}

.fieldRow,
.header-row {
  display: grid;
  grid-template-columns: auto 60px 60px 150px 80px 250px;
  grid-column: 1 / -1;
  border-bottom: 1px solid var(--border-color);
}

.nestedGrid {
  display: grid;
  grid-template-columns: auto 60px 60px 150px 80px 250px;
  grid-column: 1 / -1;
}

.fieldCell,
.headerCell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.fieldCell + .fieldCell,
.headerCell + .headerCell {
  border-left: 1px solid var(--border-color);
}

.headerCell {
  padding: 8px 5px;
  background-color: var(--highlight-color);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
}

.commands-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.expandCell {
  display: flex;
  width: 100%;
  gap: 5px;
}

@supports (grid-template-columns: subgrid) {
  .tableEditor {
    grid-template-columns: repeat(6, auto);
  }
  .fieldRow,
  .header-row,
  .nestedGrid {
    grid-template-columns: subgrid;
  }
  .expandCell {
    min-width: 300px;
  }
}

/* TODO: this solution is not ideal, we would need to add more indent levels */
/* #59 */
/* https://github.com/Lemoncode/mongo-modeler/issues/59 */
.indent0 {
  padding-left: 5px;
}
.indent1 {
  padding-left: var(--padding-table);
}
.indent2 {
  padding-left: calc(var(--padding-table) * 2);
}
.indent3 {
  padding-left: calc(var(--padding-table) * 3);
}
.indent4 {
  padding-left: calc(var(--padding-table) * 4);
}

.indent5 {
  padding-left: calc(var(--padding-table) * 5);
}
.indent6 {
  padding-left: calc(var(--padding-table) * 6);
}
.indent7 {
  padding-left: calc(var(--padding-table) * 7);
}
.indent8 {
  padding-left: calc(var(--padding-table) * 8);
}
.indent9 {
  padding-left: calc(var(--padding-table) * 9);
}
.indent10 {
  padding-left: calc(var(--padding-table) * 10);
}

/*The top position of the two position sticky's are 
related to each other and to the dialog header*/
.header-row {
  position: sticky;
  top: 5.3125rem;
  z-index: 1;
}
.table-name {
  position: sticky;
  top: 2.5rem;
  left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
  text-align: left;
  background-color: var(--primary-background);
  border-bottom: 1px solid var(--border-color);
}

.table-name label {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.table-name input {
  max-width: 190px;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--highlight-color);
  color: var(--text-color);
  transition: 0.3s ease;
}
.table-name input:focus,
.table-name input:hover {
  outline: none;
  border-color: var(--primary-gradient-end);
  box-shadow: 0 0 0 4px rgba(252, 133, 6, 0.1);
}

.fieldCell button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 0.6em;
  font-size: 16px;
  min-width: 38px;
  min-height: 31px;
}

.button-space {
  padding: 0.4em 0.6em;
  font-size: 16px;
  min-width: 30px;
  min-height: 30px;
}
.input-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.input-name input {
  width: 100%;
  margin-right: 5px;
  padding: 3px;
}

.expandCell button {
  padding: 3px;
  min-width: 30px;
  min-height: 30px;
}

.fieldCell select {
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px;
}
