.tableEditor {
  display: grid;
  grid-template-columns: auto 60px 60px 150px 80px 250px;
  margin: var(--space-md);
  margin-top: 0;
  min-width: 800px;
}
.tableEditor ul {
  padding: 0;
  margin: 0;
}

.fieldRow,
.header-row {
  display: grid;
  grid-template-columns: auto 60px 60px 150px 80px 250px;
  grid-column: 1 / -1;
  border: 1px solid var(--secondary-border-color);
  border-top-width: 0.5px;
  border-bottom-width: 0.5px;
  background-color: var(--background-dialog);
}

.nestedGrid ul li:last-child {
  border-bottom: 0.5px solid var(--secondary-border-color);
}

.tableEditor > ul > li:last-child {
  border-bottom: 1px solid var(--secondary-border-color);
  border-bottom-left-radius: var(--border-radius-table);
  border-bottom-right-radius: var(--border-radius-table);
}

.tableEditor > ul > li:first-child {
  border-top: none;
}

.nestedGrid {
  display: grid;
  grid-template-columns: auto 60px 60px 150px 80px 250px;
  grid-column: 1 / -1;
}
.content {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: auto 60px 60px 150px 80px 250px;
  transform-origin: top center;
}
.fieldCell,
.headerCell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-cells);
}

.fieldCell + .fieldCell,
.headerCell + .headerCell {
  border-left: 1px solid var(--secondary-border-color);
}

.headerCell {
  padding: var(--space-xs) 5px;
  background-color: var(--edit-table-header);
  color: var(--text-white);
  border-top: 1px solid var(--secondary-border-color);
  border-bottom: 1px solid var(--secondary-border-color);
}

.commands-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.expandCell {
  display: flex;
  width: 100%;
  gap: 5px;
}

@supports (grid-template-columns: subgrid) {
  .tableEditor {
    grid-template-columns: repeat(6, auto);
  }
  .fieldRow,
  .header-row,
  .nestedGrid {
    grid-template-columns: subgrid;
  }
  .expandCell {
    min-width: 300px;
  }

  .content {
    grid-template-columns: subgrid;
  }
}

/* TODO: this solution is not ideal, we would need to add more indent levels */
/* #59 */
/* https://github.com/Lemoncode/mongo-modeler/issues/59 */
.indent0 {
  padding-left: 5px;
}
.indent1 {
  padding-left: var(--padding-table);
}
.indent2 {
  padding-left: calc(var(--padding-table) * 2);
}
.indent3 {
  padding-left: calc(var(--padding-table) * 3);
}
.indent4 {
  padding-left: calc(var(--padding-table) * 4);
}

.indent5 {
  padding-left: calc(var(--padding-table) * 5);
}
.indent6 {
  padding-left: calc(var(--padding-table) * 6);
}
.indent7 {
  padding-left: calc(var(--padding-table) * 7);
}
.indent8 {
  padding-left: calc(var(--padding-table) * 8);
}
.indent9 {
  padding-left: calc(var(--padding-table) * 9);
}
.indent10 {
  padding-left: calc(var(--padding-table) * 10);
}

/*The top position of the two position sticky's are 
related to each other and to the dialog header*/
.header-row {
  position: sticky;
  top: 7.1rem;
  z-index: 1;
  border: none;
  border-radius: 0px;
  padding-top: var(--space-md);
}

.header-row .headerCell:first-child {
  border-top-left-radius: var(--border-radius-table);
  border-left: 1px solid var(--secondary-border-color);
}

.header-row .headerCell:last-child {
  border-top-right-radius: var(--border-radius-table);
  border-right: 1px solid var(--secondary-border-color);
}

.table-name {
  background-color: var(--background-dialog);
  position: sticky;
  top: 3rem;
  left: 0px;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  z-index: 2;
  text-align: left;
  border-bottom: 1px solid var(--primary-border-color);
}

.table-name label {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.table-name input {
  max-width: 190px;
}

.fieldCell button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 0.6em;
  font-size: var(--fs-m);
  min-width: 38px;
  min-height: 31px;
}

.input-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.button-space {
  padding: 0.4em 0.6em;
  font-size: var(--fs-m);
  min-width: 30px;
  min-height: 30px;
}

.expandCell button {
  padding: 3px;
  min-width: 30px;
  min-height: 30px;
}

.drag-button {
  cursor: grab;
}
.drag-button svg {
  pointer-events: none;
}
