.member {
  width: 120px;
}

.member-link {
  display: block;
  position: relative;
  border-radius: 100%;
  color: white;
}

.member-link img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
}

.member-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #0a66c2;
  display: flex;
  align-items: center;
  justify-content: center;
}
