.center {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkboxAutoSave {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  margin-top: var(--space-xl);
}
