.footer-text {
  grid-area: document;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  text-align: left;
  padding: var(--space-xs) var(--space-md);
  font-size: var(--fs-xs);
}

.zoomButtons {
  display: flex;
  gap: var(--space-xs);
}

@media (max-width: 1090px) {
  .footer-text {
    font-size: var(--fs-s);
  }
}
.footer-text button {
  padding: var(--space-xs);
}
.footer-text button svg {
  display: block;
}
