*,
*:after,
*:before {
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  text-align: center;
  --padding-table: 38px;
  --relation-color: #ffae42;
  --veil-modal-light: #0f0e0e7c;
  --veil-modal-dark: #2426308a;
  --border-color: #7b8fa1;
  /* spacing */

  --space-unit: 4px;
  --space-xxs: calc(var(--space-unit) / 2);
  --space-xs: calc(var(--space-unit) * 2);
  --space-sm: calc(var(--space-unit) * 3);
  --space-md: calc(var(--space-unit) * 4);
  --space-lg: calc(var(--space-unit) * 6);
  --space-xl: calc(var(--space-unit) * 8);
  --space-xxl: calc(var(--space-unit) * 12);
  --space-xxxl: calc(var(--space-unit) * 16);

  /* colors */
  --primary-50: #eef9f1;
  --primary-100: #dcf2e3;
  --primary-200: #b9e5c7;
  --primary-300: #96d9ab;
  --primary-400: #73cc8f;
  --primary-500: #50bf73;
  --primary-600: #40995c;
  --primary-700: #307345;
  --primary-800: #204c2e;
  --primary-900: #102617;

  --secondary-50: #fbf5ed;
  --secondary-100: #f7eada;
  --secondary-200: #f0d5b5;
  --secondary-300: #e8c091;
  --secondary-400: #e1ab6c;
  --secondary-500: #d99647;
  --secondary-600: #ae7839;
  --secondary-700: #825a2b;
  --secondary-800: #573c1c;
  --secondary-900: #2b1e0e;
  /* text */
  --text-color: #f3eded;
  --text-disabled: #9e9997;
  --text-hover: #102617;
  --text-white: #f3eded;
  --text-dark: #202020;

  /* background */
  --background-50: #e2e7eb;
  --background-100: #cad3dc;
  --background-200: #a2b3c2;
  --background-300: #7b8fa1;
  --background-400: #455a6c;
  --background-500: #2b3c50;
  --background-600: #243446;
  --background-700: #1c2d3f;
  --background-800: #142231;
  --background-900: #0f1924;

  --backround-secondary-50: #fafbfc;
  --backround-secondary-100: #f4f6f8;
  --backround-secondary-200: #eaedf1;
  --backround-secondary-300: #dfe5ea;
  --backround-secondary-400: #d5dce3;
  --backround-secondary-500: #cad3dc;
  --backround-secondary-600: #a2a9b0;
  --backround-secondary-700: #797f84;
  --backround-secondary-800: #515458;
  --backround-secondary-900: #282a2c;

  /*font-sizes*/
  --fs-xs: 12px;
  --fs-s: 14px;
  --fs-m: 16px;
  --fs-md: 18px;
  --fs-l: 20px;
  --fs-xl: 24px;
  --fs-xxl: 32px;

  /*font-weight*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
  --fw-extrabold: 700;

  /*border-radius*/
  --border-radius-unit: 4px;
  --border-radius-xxs: calc(var(--border-radius-unit) / 2);
  --border-radius-xs: calc(var(--border-radius-unit) * 2);
  --border-radius-s: calc(var(--border-radius-unit) * 3);
  --border-radius-m: calc(var(--border-radius-unit) * 4);
  --border-radius-l: calc(var(--border-radius-unit) * 6);
  --border-radius-xl: calc(var(--border-radius-unit) * 8);
  --border-radius-xxl: calc(var(--border-radius-unit) * 12);
  --border-radius-xxxl: calc(var(--border-radius-unit) * 16);
}

.light {
  /* background */
  --bg-canvas: var(--backround-secondary-50);
  --bg-toolbar: var(--backround-secondary-300);
  --bg-input: var(--primary-200);
  --bg-table: var(--backround-secondary-100);

  --primary-color: var(--backround-secondary-200);
  --accent-color: var(--background-500);
  --highlight-color: var(--secondary-400);
  --header-table: var(--primary-600);

  /* buttons */
  --hover-button: var(--primary-200);
  --button-secondary: var(--secondary-400);
  --hover-button-secondary: var(--secondary-600);
  --hover-input: var(--primary-300);

  /* text */
  --text-color: var(--text-dark);
  --text-disabled: #9e9997;
  --veil-background-modal: var(--veil-modal-light);

  /* border */
  --primary-border-color: var(--primary-600);
  --secondary-border-color: var(--border-color);
  --border-checkbox: var(--primary-600);
  --shadow-filter: var(--relation-color);
}
.dark {
  /* background */
  --bg-canvas: var(--background-800);
  --bg-toolbar: var(--background-400);
  --bg-input: var(--background-300);
  --bg-table: var(--background-700);

  --primary-color: var(--background-700);
  --accent-color: var(--background-900);
  --highlight-color: var(--secondary-400);
  --header-table: var(--primary-600);

  /* buttons */
  --button-secondary: var(--secondary-400);
  --hover-button-secondary: var(--secondary-600);
  --hover-button: var(--primary-600);
  /* text */
  --text-color: var(--text-white);
  --text-disabled: #9e9997;
  --veil-background-modal: var(--veil-modal-dark);

  /* border */
  --primary-border-color: var(--primary-600);
  --secondary-border-color: var(--border-color);
  --border-checkbox: var(--primary-600);
  --shadow-filter: var(--secondary-400);
}

button {
  border-radius: var(--border-radius-s);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text-color);
}

button:focus,
button:focus-visible {
  outline: 2px auto var(--border-button);
}

button:hover {
  background-color: var(--hover-button);
  color: var(--text-color);
}

button:disabled {
  color: var(--text-disabled);
  cursor: default;
}

button:disabled:hover {
  background: transparent;
}

input {
  background-color: var(--bg-input);
  border: 1px solid var(--primary-border-color);
  border-radius: var(--border-radius-xs);
  color: var(--text-color);
  padding: var(--space-xs);
  width: 100%;
  border: none;
  outline: none;
}
input:focus {
  border-bottom: 2px solid var(--primary-border-color);
  border-radius: 4px 4px 2px 2px;
  background-color: var(--hover-input);
}
select:hover,
input:hover {
  outline: 1px solid var(--primary-border-color);
  background-color: var(--hover-input);
}
select,
option {
  border: none;
  cursor: pointer;
  background-color: var(--bg-input);
  color: var(--text-color);
}

.light input[type='checkbox'] {
  color-scheme: light;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.dark input[type='checkbox'] {
  color-scheme: dark;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.button-secondary {
  background-color: var(--button-secondary);
  color: var(--text-dark);
  margin-top: var(--space-md);
  border-radius: var(--border-radius-s);
}

.button-secondary:hover {
  background-color: var(--hover-button-secondary);
}
