#root {
  margin: 0 auto;
  text-align: center;
  --padding-table: 30px;
}

* {
  box-sizing: border-box;
}

.light {
  --primary-background: #f1f5f9;
  --secondary-background: #fefdfe;
  --accent-color: #e367f4;
  --highlight-color: #e6eaf2;
  --primary-toolbar: #fefdfe;
  --text-color: #202020;
  --text-disabled: #a9a9a9;
}
.dark {
  --primary-background: #2e263e;
  --secondary-background: #342c44;
  --accent-color: #00e5ff;
  --highlight-color: #4d425f;
  --primary-toolbar: #342c44;
  --text-color: #d1d6e1;
  --text-disabled: #5a5564;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.overflow-hidden {
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:hover {
  box-shadow: 0 0 3px 2px var(--accent-color);
}

button:disabled {
  color: var(--text-disabled);
  cursor: default;
}

button:disabled:hover {
  box-shadow: none;
}
