.table-container {
  user-select: none;
}
.table-container svg path {
  fill: var(--text-dark);
  pointer-events: none;
}

.table-container:hover {
  cursor: grabbing;
}

.tableText {
  fill: var(--text-dark);
}

.tableHeader {
  fill: var(--header-table);
}

.table {
  fill: none;
}

.table__background {
  fill: var(--bg-table);
  stroke: var(--primary-border-color);
}

.tableTextRow {
  fill: var(--text-color);
}
