.tableText {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  cursor: pointer;
  fill: var(--text-color);
}

.tableHeader {
  fill: var(--header-table);
}

.table {
  fill: none;
  border-radius: 20px;
}

.table__background {
  fill: var(--bg-table);
}

.tableTextRow {
  fill: var(--text-color);
}

.custom-drop-shadow {
  filter: url(#table_component_selected);
  --shadow-color: #ff0000;
}
