.table-container {
  user-select: none;
}

.tableText {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  cursor: pointer;
  fill: var(--text-dark);
}

.tableHeader {
  fill: var(--header-table);
}

.table {
  fill: none;
}

.table__background {
  fill: var(--bg-table);
  stroke: var(--primary-border-color);
}

.tableTextRow {
  fill: var(--text-color);
}
