.tableText {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  cursor: pointer;
  fill: var(--text-color);
}

.tableHeader {
  fill: var(--secondary-background); 
}

.table {
  fill: none;
  stroke: var(--highlight-color);
}

.table__background {
  fill: var(--secondary-background);
}

.tableTextRow {
  fill: var(--text-color);
}
