.select-select {
  --border-select-width: 1px;
  --border-select-color: var(--input-border-color);
  position: relative;
  width: 100%;
  border: var(--border-select-width) solid var(--border-select-color);
  background-color: var(--bg-input);
  border-radius: var(--border-radius-xs);
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xs);
  text-align: left;
  font-size: var(--fs-m);
  font-weight: var(--fw-regular);
  line-height: 1.5em;
}

.select-chosen {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--space-xs);
  cursor: pointer;
}

.select-text {
  width: 100%;
  min-width: 150px;
}

.options {
  --border-select-width: 1px;
  --border-select-color: var(--input-border-color-active);
  list-style: none;
  padding: 8px;
  margin: 0;
  position: absolute;
  text-align: left;
  z-index: 3;
  top: calc(100% + var(--border-select-width));
  left: calc(0px - var(--border-select-width));
  width: calc(100% + var(--border-select-width) * 2);
  border: var(--border-select-width) solid var(--input-border-color-active);
  border-top: none;
  background-color: var(--bg-input);
  border-radius: var(--border-radius-xs);
  max-height: 300px;
  overflow-y: auto;
}

.options li {
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.options li:hover {
  color: var(--input-border-color-active);
  background-color: var(--hover-input);
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--input-border-color-active);
}

.svg.tick {
  margin-right: 8px;
}

.veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--veil-modal);
  opacity: 0.5;
}

.select-select:hover {
  --border-select-color: var(--input-border-color-active);
  box-shadow: 0 0 4px var(--hover-checkbox);
  background-color: var(--hover-input);
  color: inherit;
}

.select-active {
  --border-select-color: var(--input-border-color-active);
  box-shadow: 0 0 4px var(--hover-checkbox);
  background-color: var(--hover-input);
}

.select-error {
  --border-select-color: var(--color-error);
}

.select-error.select-select:hover {
  --border-select-color: var(--color-error);
}
