.container {
  grid-area: toolbar;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: var(--bg-toolbar);
  border: none;
  border-bottom: var(--border-toolbar);
}
@media screen and (min-device-width: 780px) and (max-device-width: 1090px) {
  .container {
    padding: var(--space-md) var(--space-xl);
  }
}

@media screen and (min-device-width: 780px) and (max-device-width: 1090px) and (orientation: landscape) {
  .container {
    padding: var(--space-xl) var(--space-sm);
  }
}

@media screen and (max-device-width: 1090px) {
  .container {
    border-top: var(--border-toolbar);
    border-bottom: none;
    justify-content: space-between;
  }
}

@media screen and (max-device-width: 1090px) and (orientation: landscape) {
  .container {
    flex-direction: column;
    border: none;
    border-right: var(--border-toolbar);
  }
}

.button {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  fill: var(--text-color);
}

@media screen and (max-device-width: 1090px) {
  .button {
    padding: 6px;
    font-size: var(--fs-s);
  }
}

@media (hover: hover) {
  .button:hover [role='tooltip'] {
    animation: fade-in 1s linear;
    animation-fill-mode: forwards;
  }
}

[role='tooltip'] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: hsla(0, 0%, 20%, 0.7);
  border-radius: 3px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 14px;
  padding: 7px 14px;
  position: absolute;
  transform: translate(0%, 90px);
  visibility: hidden;
  z-index: 2;
}

@media screen and (max-device-width: 1090px) {
  [role='tooltip'] {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
