.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: var(--primary-toolbar);
  border-bottom: 2px solid var(--highlight-color);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: var(--text-color);
  background: none;
  fill: var(--text-color);
}

button:hover {
  box-shadow: 0 0 3px 2px var(--accent-color);
}
