.container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: var(--bg-toolbar);
  border-bottom: 1.5px solid var(--primary-700);
}

.button {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  fill: var(--text-color);
}
