.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 16, 16, 0.35);
}
.dialog {
  background-color: #ffffff;
  width: 80%;
  padding: 2rem;
  border-radius: var(--element-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.dialog-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  line-height: 0;
}
