.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 16, 16, 0.35);
}

.dialog {
  background-color: var(--primary-background);
  color: var(--text-color);
  width: 80%;
  height: 80%;
  overflow: scroll;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dialog-button {
  background-color: var(--primary-background);
  color: var(--text-color);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  line-height: 0;
}
