.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 16, 16, 0.35);
}

.dialog {
  background-color: var(--primary-background);
  color: var(--text-color);
  width: 80%;
  height: 80%;
  overflow: scroll;
}
.dialog-header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  gap: 10px;
  align-items: center;
  background: var(--gradient);
  padding: 0.2rem 0.5rem 0.2rem 1rem;
  color: black;
}
.dialog-header span {
  margin: 0;
}
.dialog-title {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: var(--text-color);
}
.dialog-subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}
.dialog-button {
  width: fit-content;
  margin-left: auto;
  background-color: transparent;
  color: var(--text-color);
  padding: 0.5rem;
  line-height: 0;
}

.dialog-button:hover {
  background: var(--accent-color);
}
.dialog-component {
  padding: 2rem;
}
