.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--veil-modal);
}

.dialog {
  position: relative;
  z-index: 1;
  background-color: var(--background-dialog);
  color: var(--text-color);
  width: 80%;
  height: 80%;
  overflow: scroll;
  border-radius: var(--border-radius-m);
}

.dialog-header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  gap: 10px;
  align-items: center;
  background: var(--secondary-300);
  padding: var(--space-xs);
  padding-left: var(--space-md);
  color: var(--text-dark);
  border-radius: var(--border-radius-m);
}
.dialog-header span {
  margin: 0;
}
.dialog-title {
  margin: 0;
  font-weight: var(--fw-regular);
  font-size: var(--fs-md);
  color: var(--text-dark);
}
.dialog-subtitle {
  margin: 0;
  font-weight: var(--fw-regular);
  font-size: var(--fs-m);
}
.dialog-button {
  width: fit-content;
  margin-left: auto;
  background-color: transparent;
  color: var(--text-dark);
  padding: var(--space-xs);
  line-height: 0;
}

.dialog-button:hover {
  background: var(--hover-button-secondary);
}
